# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Include gradle-wrapper.jar
!gradle-wrapper.jar

# Eclipse project files
.classpath
.project
.settings/

#intelliJ project files
.idea/

#vsCode project files
.vscode/

*.iml